mixin catalog(img, title, text, count_stars, price)
  .catalog__item
    |
    |
    img.catalog__image(src=img width="374" height="237" alt=title)
    .catalog__features
      .catalog__inner.catalog__inner--left
        h2.catalog__title=title
        p.catalog__text=text
      .catalog__inner.catalog__inner--right
        .rating.rating--size-small
          - for (var x = 0; x < count_stars; x++)
            span.rating__item
              svg.rating__star(width="11" height="11")
                use(xmlns="http://www.w3.org/2000/svg" xlink:href="#star")
        |
        |
        span.catalog__price=price
    +button('catalog', 'Подробнее')
    block